body {
    overflow-x:hidden;
}
h1{
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
nav{
    position: relative;
    left: 42%;
    top: 0;
}
.switcherButton{
    border-radius: 15px;
    border: 0px; 
    padding: 10px;
    background-color: lightgrey;
}
.switcherButton:hover{
    background-color:#93f0ce;
}
.codeExample{
    width:80%;
    margin-left: 10%;
}
.tableUL{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}
.tableLI{
    margin-left: 10px;
}
h3{
    margin-left: 10%;
}
h2{
    margin-left: 5%;
    display: inline-block;
    font-family: arial;
}
.skipperButton{
    display: inline-block;
    margin-left: 10px;
    border: 0;
    border-radius: 15px;
    background-color: lightgray;
    font-size:8pt;
    position:relative;
    padding: 4px;
}
.skipperButton:hover{
    background-color: grey;
    color: white;
}
.semanticsTable, .gitInfoTable{
    margin: auto;
    border-collapse: collapse;
    color: rgb(82,82,82)
}
.semanticsTable tr:nth-child(odd), .gitInfoTable tr:nth-child(odd){
    background-color: lightgray;
}
.semanticsTable tr:hover, .gitInfoTable tr:hover{
    background-color: #93f0ce;
    color: black;
}
th{
    background-color: #04AA6D;
    color: white;
    text-align: left;
    padding-right: 15px;
    font-family: arial;
    font-weight: 500;
    padding-left: 2px;
    padding-bottom:2px;
    padding-top: 2px;
}
.pBolder{
    font-weight: bold;
}
p{
    margin-left: 10%;
}
.hide{
    display: none;
}
.show{
    display:contents;
}
.activeSwitcher{
    border-radius: 15px;
    border: 0px; 
    padding: 10px;
    background-color:#04AA6D;
    color: white;
}
.gitTableRelation{
    color: rgb(170, 170, 170);
}
.referenceUL{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
}
.cssRefImg{
    width: 50%;
    margin-left:25%;
}
.cssRefImg:hover{
    opacity: 75%;
}
.pushRight{
    margin-left: 15%;
}
html{
    max-width: 900;
    max-height: 12000;
}
.exampleCode{
    width: 300px;
    margin-left: 25%;
    background-color: darkgray;
    color: white;
    display: block;
}
